body {
    font-family: 'Roboto', 'Oxygen', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2E2F42;
    background-color: #fff;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
}

.link:hover, .link:focus {
    color: #404BBF;
}

.link {
    color: #2E2F42;
}

.address-link {
    color: #434455;
    font-style: normal
}

.address-link:hover, .address-link:focus {
    color: #404BBF;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.logo-accent {
    color: #4d5ae5;
}

.navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*///////////HERO-SECTION/////////////*/

.hero {
    background-color: #2E2F42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
}

.hero-btn:hover, .hero-btn:focus {
    background-color: #404BBF;
}
/*////////////ANOTHER-SECTIONS//////////*/
.header-3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-card {
    background-color: #F4F4FD;
}

.team-cards {
    background-color: #fff;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-member {
    text-align: center;
}

.team-profession {
    text-align: center;
}

.header-2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

/*/////////////FOOTER////////////*/

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer .text {
    color: #F4F4FD;
}
.footer {
    background-color: #2E2F42;
}